<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.dotfiles.smb-autoconnect</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/sh</string>
    <string>-lc</string>
    <string>$HOME/.dotfiles/macos/smb-autoconnect.sh</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>StartInterval</key>
  <!-- 5minutes = 300, 1 hour = 3600, 12 hours = 7200,  24 hours(1 day) = 86400 -->
  <integer>3600</integer>
  <key>StandardOutPath</key>
  <string>/tmp/com.dotfiles.smb-autoconnect.out</string>
  <key>StandardErrorPath</key>
  <string>/tmp/com.dotfiles.smb-autoconnect.err</string>
</dict>
</plist>
